@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", serif;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    padding: 0 100px;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}


section {
    margin-bottom: 128px;
}

header {
    background: rgba(229, 84, 115, 0.1);
}

/* Common  */
.section-title {
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
}

.section-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.btn {
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}

.display-flex {
    display: flex;
}

/* hero section styles */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.feature h2,
p {
    text-align: center;
}

.hero-title {
    color: rgb(39, 39, 39);
    font-size: 3.2rem;
    font-weight: 800;

}

/* feature section styles */
.feature {
    margin-top: 100px;
}

.feature-flower {
    padding-top: 40px;
    justify-content: space-evenly;
}

.feature-flower1,
.feature-flower2,
.feature-flower3 {
    width: 30%;
    height: auto;
    border-radius: 300px 300px 0px 0px;

}

.feature-flower1 {
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.feature-flower2 {
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
    justify-content: center;

}

.feature-flower3 {
    background: rgba(71, 125, 17, 0.15);
    align-items: center;
    justify-content: center;
}

.feature-flower-text {
    justify-content: space-around;
}

.feature-flower-text a {
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Dash section styles */
.dash {
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

/* .Instagram Section styles  */
.instagram {
    text-align: center;
}

.instagram-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

/* Deals  */
.deal {
    background-image: url(../images/latrest-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.data input{
    color: rgba(39, 39, 39, 0.6);
font-size: 1rem;
    border: none;
    padding: 23px 513px 23px 23px;
    border-radius: 8px;
background: rgb(255, 255, 255);
}
/* Footer section styles */
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}
footer div{
    max-width: 1440px;
    margin: 0 auto;

}
footer h2{
    font-size: 1.5rem;
font-weight: 800;
color: white;
}
footer p{
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    opacity: 0.8;
}
footer small{
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.8;
}

/* Media query for small device */
@media only screen and (max-width:576px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-img img {
        width: 100%;
    }

    .feature-flower {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }

    .feature-flower1,
    .feature-flower2,
    .feature-flower3 {
        width: 100%;
        height: auto;

    }

    .feature-flower-text {
        display: none;
    }

    .dash {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .instagram-img {
        grid-template-columns: repeat(1, 1fr);
        justify-self: center;
    }
    .deal{
        width: 100%;

    }
    .data input{
        padding: 23px 22px 23px 22px;
        border-radius: 8px;
    background: rgb(255, 255, 255);
    }
    
}